---
import SectionText from "../components/SectionText.astro";
import Layout from "../layouts/Layout.astro";

const title = "Recaudació de fons"
---

<Layout title={title}>
  <h1>{title}</h1>
  <SectionText>
    <p>Per muntar la granja fan falta molts diners i el banc està fart de tu (entre <span class="text-bellpuig-orange font-semibold">la primera granja</span>, <span class="text-bellpuig-orange font-semibold">el pis</span>, <span class="text-bellpuig-orange font-semibold">el cotxe</span> i ara <span class="text-bellpuig-orange font-semibold">la boda</span>), així que res d'hipoteques.</p>
    <p>Per recaudar una mica de calers, hauràs de vendre preservatius. Segur que et forres, que la gent va molt calenta i tenen ganes de mambo.</p>
  </SectionText>
</Layout>