---
import SectionText from "../components/SectionText.astro";
import Layout from "../layouts/Layout.astro";

const title = "Contractació de personal"
---

<Layout title={title}>
  <h1>{title}</h1>
  <SectionText>
    <p>Saps bé que una granja porta una feinada de por i amb l’equip que sou ara,
      <span class="text-bellpuig-orange font-semibold">no teniu proutes mans</span> per poder treure endavant tota la feina que suposarà
      l’ampliació.</p>
    <p>Sort que aquí hi ha un <span class="text-bellpuig-orange font-semibold">munt de gent</span> i no et costarà trobar personal. Ves i busca gent apta per treballar a la granaja explicant-los <span class="text-bellpuig-orange font-semibold">com fer la feina de porcaire</span> (com saber si una berra està en zel, com inseminar, etc)</p>
  </SectionText>
</Layout>