---
import HomeIcon from "../icons/homeIcon.astro";
---

<header class="flex justify-between px-3 py-5 bg-bellpuig-black text-white">
  <a href="/">
    <HomeIcon/>
  </a>
  <p class="font-bold text-xl text-bellpuig-orange">El Gran Porcaire</p>
  <span></span>
</header>