---
import { ViewTransitions } from 'astro:transitions'
import GlobalStyles from '../components/GlobalStyles.astro'
import Header from '../components/Header.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GlobalStyles/>
		<ViewTransitions/>
		<script>
			function init() {
				const section = document.getElementById("section-text")
				section?.addEventListener('click', (e) => {
					console.log('justify text')
					section.classList.contains('text-justify')
						? section.classList.remove('text-justify')
						: section?.classList.add('text-justify')
				})
			}
			init()
			document.addEventListener("astro:after-swap", init)
		</script>
	</head>
	<body>
		<Header/>
		<main class="p-8">
			<slot/>
		</main>
	</body>
</html>
