---
import SectionText from "../components/SectionText.astro"
import Layout from "./Layout.astro"

const { frontmatter } = Astro.props
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <img src={frontmatter.image.url} alt="">
  <SectionText>
    <slot/>
  </SectionText>
</Layout>
